/* variables */
/* presets */
.label-size {
  flex-basis: 50px;
  line-height: 50px;
}
.data-size {
  flex-basis: 100%;
}
.line-num {
  font-family: monospace;
  font-size: 9pt;
  line-height: 1.7;
  opacity: .33;
}
/* flex defaults */
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
  align-items: stretch;
}
.flex-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-item {
  position: relative;
  flex: 1 100%;
}
.flex-bordered {
  border: solid #333333;
}
.flex-bordered:first-child {
  border: none;
}
.flex-row > .flex-padding {
  padding: 0 10px;
}
.flex-row > .flex-bordered {
  border-width: 0 0 0 1px;
}
.flex-column > .flex-padding {
  padding: 10px 0;
}
.flex-column > .flex-bordered {
  border-width: 1px 0 0 0;
}
/* blanket settings */
.blanket {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.blanket-scroll {
  overflow: auto;
}
/* fillout */
