/* variables */
/* presets */
.label-size {
  flex-basis: 50px;
  line-height: 50px;
}
.data-size {
  flex-basis: 100%;
}
.line-num {
  font-family: monospace;
  font-size: 8pt;
  line-height: 1.7;
  opacity: .33;
}
/* flex defaults */
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
  align-items: stretch;
}
.flex-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex-item {
  position: relative;
  flex: 1 100%;
}
.flex-bordered {
  border: solid #333333;
}
.flex-bordered:first-child {
  border: none;
}
.flex-row > .flex-padding {
  padding: 0 10px;
}
.flex-row > .flex-bordered {
  border-width: 0 0 0 1px;
}
.flex-column > .flex-padding {
  padding: 10px 0;
}
.flex-column > .flex-bordered {
  border-width: 1px 0 0 0;
}
/* blanket settings */
.blanket {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.blanket-scroll {
  overflow: auto;
}
/* fillout */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background: #cccccc;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16pt;
  height: 100%;
  width: 100%;
}
.main {
  background: #fff;
}
.fieldset {
  flex: 2 0;
}
.fieldset:last-child {
  flex: 1 0;
}
.input {
  background: #fff2d1;
}
.output {
  background: #e0ffdc;
}
.label {
  flex-basis: 50px;
  line-height: 50px;
  font-size: 12pt;
  padding: 0 .5em;
}
.data-wrapper {
  flex-basis: 100%;
  padding: 0 .5em .5em;
}
.input-container,
.data-container {
  vertical-align: top;
  padding: .16em .33em;
  font: 9pt sans-serif;
  resize: none;
}
.data-container {
  padding: .16em 0;
  counter-reset: num;
}
.string {
  margin: 0;
  counter-increment: num;
}
.string span {
  display: inline-block;
  margin-left: 3em;
  position: relative;
  white-space: pre-wrap;
}
.string span:before {
  content: counter(num);
  position: absolute;
  right: 100%;
  margin-right: 10px;
  font-family: monospace;
  font-size: 8pt;
  line-height: 1.7;
  opacity: .33;
}
.string.equal:before,
.string.diff:before,
.string.added:before,
.string.deleted:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
}
.string.equal:before {
  content: '';
}
.string.diff:before {
  content: '*';
}
.string.deleted:before {
  content: '-';
}
.string.added:before {
  content: '+';
}
