@import "flex";

* { box-sizing: border-box; }

html, body {
  margin: 0;
  background: @basic-bg;
  padding: 5px;
  font-family: @basic-font-family;
  font-size: 16pt;
  height: 100%;
  width: 100%;
}

.main { background: #fff; }

.input { background: @input-color; }
.output { background: @output-color; }

.label {
  .label-size;
  font-size: @label-font-size;
  padding: 0 .5em;
}

.data-wrapper {
  .data-size;
  padding: 0 .5em .5em;
}

.input-container,
.data-container {
  vertical-align: top;
  padding: .16em .33em;
  font: @typed-font-size @basic-font-family;
  resize: none;
}
.data-container {
  padding: .16em 0;
  counter-reset: num;
}

.string {
  margin: 0;

  counter-increment: num;

  span {
    display: inline-block;
    margin-left: 3.5em;
    position: relative;
    white-space: pre-wrap;

    &:before {
      content: counter(num);
      position: absolute;
      right: 100%;
      margin-right: 10px;
      .line-num;
    }
  }

  &.equal,
  &.diff,
  &.added,
  &.deleted {
    &:before {
      content: '';
      position: absolute;
      left: 0 ;
      display: inline-block;
    }
  }
  &.equal:before { content: ''; }
  &.diff:before { content: '*'; }
  &.deleted:before { content: '-'; }
  &.added:before { content: '+'; }
}
