@import "flex";

* { box-sizing: border-box; }

html, body {
  margin: 0;
  background: @basic-bg;
  padding: 5px;
  font-family: @basic-font-family;
  font-size: 16pt;
  height: 100%;
  width: 100%;
}

.main { background: #fff; }

.fieldset {
  flex: 2 0;

  &:last-child { flex: 1 0; }
}

.input, .output { flex: 1 0; }

.input { background: @input-color; }

.output { background: @output-color; }

.label {
  .label-size;
  font-size: @label-font-size;
  padding: 0 .65em;

  .control {
    flex: 1 0;
    white-space: nowrap;
    text-align: right;
  }

  .title {
    flex: 2 0;
    overflow: hidden;

    span {
      display: block;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.btn {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 10px;

  &.btn-add {
    width: 25px;

    &_before span:before,
    &_after span:after {
      display: inline-block;
      margin: 0 .16em;
    }

    &_before span:before { content: '\2039'; }
    &_after span:after { content: '\203A'; }
  }

  span {
    vertical-align: top;
    line-height: 12px;
  }
}

.data-wrapper {
  .data-size;
  padding: 0 .5em .5em;
}

.input-container,
.data-container {
  vertical-align: top;
  padding: .16em .33em;
  font: @typed-font-size @basic-font-family;
  resize: none;
}

.data-container {
  padding: .16em 0;
  counter-reset: num;
}

.string {
  margin: 0;
  counter-increment: num;

  span {
    display: inline-block;
    margin-left: 3em;
    position: relative;
    white-space: pre-wrap;

    &:before {
      content: counter(num);
      position: absolute;
      right: 100%;
      margin-right: 10px;
      .line-num;
    }
  }

  &.equal,
  &.diff,
  &.added,
  &.deleted {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
    }
  }
  &.equal:before { content: ''; }
  &.diff:before { content: '*'; }
  &.deleted:before { content: '-'; }
  &.added:before { content: '+'; }
}
