/* variables */
@basic-bg: #ccc;
@accent-bg: #333;
@basic-color: #333;

@basic-font-family: sans-serif;

@input-color: #fff2d1;
@output-color: #e0ffdc;

@label-font-size: 14pt;
@typed-font-size: 11pt;

/* presets */
.label-size {
  flex-basis: 50px;
  line-height: 50px;
}
.data-size { flex-basis: 100%; }
